body {
    background-color: rgb(56, 2, 46);
    font-family: Copperplate gothic bold;
    color: white;
    margin: 8px;
}

#header {
    display: flex;
    background-color: rgb(56, 2, 46);
    font-family: Copperplate gothic bold;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}


button {
    background-color: rgb(70, 3, 57);
    font-family: inherit;
    width: 300px;
    height: 60px;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(133, 5, 109);
} 


button:hover {
    background-color: white;
    color: rgb(133, 5, 109);
}

.button-start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    text-decoration: none;
    color: white
}

#main-home {
    display: flex;
    align-items: center;
    justify-content: center;
}